{{#each erros}}
    <div class='alert alert-danger'>{{text}}</div>
{{else}}

{{/each}}


    <form action="/admin/coleta" method="post">
        <fieldset>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="nome">dataInicial</label>
                    <input type="date" id="dataInicial" name="dataInicial" style="width: 10em" value="">
                </div>
                <div class="campo">
                    <label for="snome">dataFinal</label>
                    <input type="date" id="dataFinal" name="dataFinal" style="width: 10em" value="">
                </div>
            </fieldset>
            <div class="campo">
                <label for="mensagem">Mensagem</label>
                <textarea rows="6" style="width: 20em" id="mensagem" name="mensagem"></textarea>
            </div>
            <button type="submit">Enviar</button>
        </fieldset>
    </form>
    <img id="img" src="/img/biocare.jpg" alt="LogoBiocare"/>
    
    
