<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">    

    <title>Document</title>
</head>
<body>
    <div class="fa-3x load">
        <p>Aguarde enquanto o Sistema carrega os dados</p>
        <i class="fas fa-spinner fa-spin "></i>
        <p>Você será redirecionado em alguns minutos para a tela de comandos</p>

    </div>
    <script src="https://kit.fontawesome.com/f7abb28379.js" crossorigin="anonymous"></script>
</body>
</html>